.side_bar
  %nav.mypage__nav
    %ul.mypage__nav__list
      %li
        = link_to users_path , class:"mypage-nav-list-item" do
          マイページ
          %i.fas.fa-angle-right
      %li
        = link_to "#" , class:"mypage-nav-list-item" do
          出品する
          %i.fas.fa-angle-right
      %li
        = link_to "#" , class:"mypage-nav-list-item" do
          出品した商品-出品中
          %i.fas.fa-angle-right
      %li
        = link_to "#" , class:"mypage-nav-list-item" do
          取引中
          %i.fas.fa-angle-right
      %li
        = link_to "#" , class:"mypage-nav-list-item" do
          売却済み
          %i.fas.fa-angle-right
      %li
        = link_to "#" , class:"mypage-nav-list-item" do
          過去の取引
          %i.fas.fa-angle-right
    %h3.mypage__nav__head 設定
    %ul.mypage__nav__list
      %li 
        = link_to "#", class:"mypage__nav__list__item" do
          支払い方法
          %i.fas.fa-angle-right
      %li 
        = link_to "#", class:"mypage__nav__list__item" do
          ログアウト
          %i.fas.fa-angle-right