-# コンテナヘッダー
.single-container
  #sell-container
    .sell-container__inner
      %h2.sell-head 商品の情報を入力
      = form_with(model: @item, local: true ) do |f|
        .sell-form
          .sell-upload-box
            %h3.sell-upload-head 
              出品画像
              %span.form-require 必須
            %p 最大10枚までアップロードできます
            #image-box
              #previews
                - if @item.persisted?
                  - @item.images.each_with_index do |image, i|
                    = image_tag image.photo.url, data: { index: i }, width: "100", height: '100'
              = f.fields_for :images do |image|
                .js-file_group{"data-index": "#{image.index}"}
                  = image.file_field :photo, class: 'js-file'
                  .js-remove 削除
                - if @item.persisted?
                  = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
              - if @item.persisted?
                .js-file_group{"data-index": "#{@item.images.count}"}
                  = file_field_tag :photo, name: "item[images_attributes][#{@item.images.count}][photo]", class: 'js-file'
                  .js-remove 削除
          -# 商品
          .sell-content
            .form-group
              %label 
                商品名
                %span.form-require 必須
              =f.text_field :name, placeholder: "商品名（必須40文字まで）", class: "input-default"
            .form-group
              %label
                商品の説明
                %span.form-require 必須
              =f.text_area :description, rows: "5", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）", class: "textarea-default"

          -# 詳細
          .sell-content
            .sell-content-box
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .listing-form-box
                  .listing-product-detail__category
                    %label カテゴリー
                    %span.form-require 必須
                    .listing-select-wrapper
                      .listing-select-wrapper__box
                        //親カテゴリーのセレクトボックスの生成
                        = f.select :category_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                .form-group
                  %label
                    サイズ
                    %span.form-require 必須
                  .select-wrap
                    =f.collection_select :size_id, Size.all, :id, :name, {prompt: '---'}, class: 'select-default'
                .form-group
                  %label
                    商品の状態
                    %span.form-require 必須
                  .select-wrap
                    =f.collection_select :status_id, Status.all, :id, :name, {prompt: '---'}, class: 'select-default'



          -# 発送
          .sell-content
            .sell-content-box
              %h3.sell-sub-head 発送について
              .sell-form-box
                .form-group
                  %label
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    %i.icon-arrow-bottom
                    =f.collection_select :shipping_charges_id, ShippingCharges.all, :id, :name, {prompt: '---'}, class: 'select-default'
                .form-group
                  %label
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    %i.icon-arrow-bottom
                    =f.collection_select :postage_id, Postage.all, :id, :value, {prompt: '---'}, class: 'select-default'
                .form-group
                  %label
                    発送までの日数
                    %span.form-require 必須
                  .select-wrap
                    %i.icon-arrow-bottom
                    =f.collection_select :shopping_date_id, ShoppingDate.all, :id, :name, {prompt: '---'}, class: 'select-default'

          -# 販売
          .sell-content
            .sell-content-box
              %h3.sell-sub-head 販売価格
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      %label.left
                        価格
                        %span.form-require 必須
                      .l-right
                        ¥
                        %div.sell-price-input
                          =f.text_field :price, placeholder: "例)300", class: 'input-default'
                  %li.clearfix
                    %l-left 販売手数料(10%)
                    %l-right -
                  %li.clearfix
                    %l-left 営業利益
                    %l-right -

            -# ボタン
          .sell-content
            .sell-btn
              %button.btn-default.btn-red{type: "submit"}出品する
            .sell-btn-box
              .sell-btn-gray
                = link_to "戻る",users_path,class: "btn-default.btn-gray"